*, *::before, *::after{
box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    font-weight:normal;
    padding:0;
    margin:0;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.calculator-grid{
 display: grid;
 justify-content: center;
 align-content: center;
 min-height:  100vh;
 grid-template-columns:repeat(4,100px);
 grid-template-rows:minmax(120px,auto) repeat(5,100px);
 
}
/* to select all the buttons */
.calculator-grid > button {
 cursor: pointer;
 font-size: 2rem;
 border:1px solid white;
 outline:none;
 background-color:rgba(255, 255, 255, .50);
}
.calculator-grid > button:hover{
    background-color:rgba(255, 255, 255, .90); 
}
.span-two{
    grid-column: span 2;
}
/*  to make output screen */
.output{
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    background-color:rgba(255, 255, 255, .50)
}
.output .previous-operand{
    color: rgba(26, 25, 25, 0.7);
    font-size: 1.5rem;
}
.output .current-operand{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;

}